:root {
    --background-color: #F4F2F3;
    --background-secundary:#000000;
    --color-red: #f03b30;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;

    .contact {

        padding: 5%;
        border: 1px solid var(--background-secundary);
        border-radius: 25%;

        a {
            color:  #25d366;
            font-weight: bold;
            font-size: 10vw;
            border: 5px solid #25d366;
            border-radius: 20%;
        }
    }

    img {
        width: 10%;
        height: auto;
    }
}